<header>
    <div class="logo">
        <img src="/images/logo/logo_new.png" />
    </div>
    <span>Спортивное питание</span>
</header>

<div class="sidebar">
    <ul>
        <li>Гейнеры</li>
        <li>Протеины</li>
        <li>Аминокислоты</li>
        <li>Энергетики</li>
        <li>Витамины</li>
        <li>Креатин</li>
    </ul>

    <div class="search">
        <div class="search__label">Найти товар:</div>
        <input type="text" />
    </div>
</div>

<div class="items">
    <%items.forEach(function(item) {%>
        <%- include item.ejs %>
    <%})%>
</div>