<div class="info-block">
    <div class="info-block__wrapper">
        <div class="info-block__sails">
            <p class="info-block__sails-title">Вашa корзина:</p>

            <div class="info-block__sails-items"></div>

            <div class="info-block__sails-total">
                Всего: <span>0</span> руб
            </div>
        </div>
    </div>

    <!--div class="info-block__wrapper">
        <p class="info-block__text">Телефон:</p>
        <p class="info-block__elem">+7 (978) 846654</p>
    </div>

    <div class="info-block__wrapper">
        <p class="info-block__text">E-mail:</p>
        <p class="info-block__elem">
            <a class="link" href="mailto:dmitrychuev@gmail.com">dmitrychuev@gmail.com</a>
        </p>
    </div-->
</div>