<div class="info-block">
    <div class="info-block__wrapper">
        <p class="info-block__text">
            <p>Скоро на сайте появится возможность делать онлайн заказы.</p>
            <br/>
            <p>Оформить заказ можно по телефону указанному ниже.</p>
        </p>
    </div>

    <div class="info-block__wrapper">
        <p class="info-block__text">Телефон:</p>
        <p class="info-block__elem">+7 (978) 846654</p>
    </div>

    <div class="info-block__wrapper">
        <p class="info-block__text">E-mail:</p>
        <p class="info-block__elem">
            <a class="link" href="mailto:dmitrychuev@gmail.com">dmitrychuev@gmail.com</a>
        </p>
    </div>
</div>