<div class="item-view">

    <div class="item-view__close">+</div>

    <div class="item-view__image">
        <img src="/images/10582.jpg" />
    </div>

    <div class="item-view-meta">
        <div class="item-view__name">
            Название: <h3>MAX GAIN PLUS, 1.0 kg банан-клубника</h3>
        </div>

        <div class="item-view__manufacturer">
            Производитель: <span class="link">BIOTECH</span>
        </div>

        <div class="item-view__price">
            Цена: <span>409,00 грн</span>
        </div>
    </div>

    <div class="item-view__description">
        MAX GAIN – ЭТО ВАШ УСПЕХ! Max Gain Plus – вкуснейший коктейль, разработанный для начинающих спортсменов. Популярная и любимая смесь от BioTech USA создана исключительно из безопасных для здоровья, тщательно отобранных компонентов. Max Gain Plus изготовлен с добавлением высококачественной, легкоусваиваемой белковой смеси.
    </div>

</div>
