<div class="item-view">

    <div class="item-view__close">Закрыть</div>

    <div class="item-view__image">
        <img src="/images/loaders/item.GIF" />
    </div>

    <div class="item-view-meta">
        <div class="item-view__name">
            Название: <h3></h3>
        </div>

        <div class="item-view__manufacturer">
            Производитель: <span class="link"></span>
        </div>

        <div class="item-view__price">
            Цена: <span></span>
        </div>

        <div class="item-view__buy">
            <label>Купить</label>
            <input type="number" value="1" min="0" class="item-view__buy-input"/>
            <span>шт.</span>
        </div>
        <div class="item-view__cart button">
            <i class="fa fa-cart-plus"></i>
            <span>В корзину</span>
        </div>
    </div>

    <div class="item-view__description"></div>

</div>
