<div class="sidebar">
    <ul>
        <%categories.forEach(function(category, i) {%>
            <li data-type="<%=category.name%>"><%=category.name%></li>
        <%})%>
    </ul>

    <div class="sidebar__more link">Показать все категории</div>
</div>