<div class="sidebar">
    <ul>
        <li>Гейнеры</li>
        <li>Протеины</li>
        <li>Аминокислоты</li>
        <li>Энергетики</li>
        <li>Витамины</li>
        <li>Креатин</li>
    </ul>
</div>