.info-block
{
    position: fixed;
    right: 0;
    top: 75px;

    padding-right: 15px;
    width: 165px;

    font-size: 14px;


    .info-block__wrapper
    {
        margin-bottom: 15px;
    }

    .info-block__elem
    {
        margin: 5px 0;

        font-size: 12px;
        font-weight: bold;
    }
}