.item-view
{
    display: none;
    position: relative;

    padding: 0 20px;

    vertical-align: top;

    .item-view__close
    {
        position: absolute;
        right: 40px;
        top: 10px;

        font-size: 14px;
        cursor: pointer;
        color: darkred;
        text-transform: uppercase;
    }

    .item-view__cart
    {
        position: absolute;
        right: 0;
        top: 0;

        width: 105px;

        .fa
        {
            font-size: 18px;
            vertical-align: middle;
        }

        span
        {
            font-size: 10px;
            vertical-align: middle;
        }
    }

    .item-view__image
    {
        text-align: center;

        img
        {
            max-height: 365px;

            margin-top: 30px;
        }
    }

    .item-view__name
    {
        padding-right: 110px;

        h3
        {
            display: inline-block;
        }
    }

    .item-view__description
    {
        margin: 20px 0 40px 0;

        text-align: justify;
        font-size: 14px;
    }

    .item-view__manufacturer
    {
        margin: 3px 0;

        font-size: 13px;
    }

    .item-view__price
    {
        font-size: 13px;
    }

    .item-view-meta
    {
        position: relative;

        margin-top: 40px;
    }

    .item-view__buy
    {
        position: absolute;
        right: 0;
        top: -35px;

        font-size: 12px;

        .item-view__buy-input
        {
            height: 24px;
            width: 30px;

            padding: 0 5px;
        }
    }
}

.item-view__show
{
    display: table-cell;
}