@itemHg: 80px;

.item
{
    display: table-cell;

    padding: 8px;

    width: 50%;
    height: @itemHg;

    overflow: hidden;

    font-family: Verdana;
    font-size: 12px;
    cursor: pointer;

    .item__wrapper
    {
        padding: 10px;

        box-shadow: 0 0 10px #CCC;
    }

    .item-img
    {
        display: table-cell;
        width: 80px;

        border: 1px solid #CCC;
        text-align: center;
        vertical-align: middle;

        img
        {
            height: @itemHg;
        }
    }

    .item-info
    {
        display: table-cell;

        padding-left: 10px;
    }

    .item-info__name
    {
        text-transform: uppercase;
        font-weight: bold;
        font-size: 12px;
    }

    .item-info__price
    {
        margin-top: 5px;

        font-weight: bold;
        text-decoration: underline;
    }

    .item-info__manufacturer
    {
        margin: 2px 0;

        color: #525050;
        font-size: 10px;
    }
}
