.sidebar
{
    position: fixed;
    top: 160px;

    ul
    {
        margin-left: 10px;

        li
        {
            padding: 4px;

            cursor: pointer;
        }

        li:hover
        {
            color: #777;
        }
    }
}