<script id="cart-item-tmpl" type="text/x-handlebars-template">
    <div class="cart-item" data-cartitem-id="{{id}}">
        <div class="cart-item__wrapper">
            <div class="cart-item__name">
                <a href="#" class="link">{{name}}</a>
            </div>

            <div class="cart-item__amount">
                Кол-во: <span>{{amount}}</span>
            </div>

            <div class="cart-item__price">
                Цена: <span>{{price}}</span> руб
            </div>
        </div>

        <i class="fa fa-times cart-item__close"></i>
    </div>
</script>