<script id="item-tmpl" type="text/x-handlebars-template">
    <div class="item" data-id="{{id}}">
        <div class="item__wrapper">
            <div class="item-img">
                <img src="/{{photo}}" />
            </div>

            <div class="item-info">
                <p class="item-info__name">{{name}}</p>
                <p class="item-info__manufacturer">{{manufacturer}}</p>
                <p class="item-info__category link">{{category}}</p>
                <p class="item-info__price">{{price}} руб</p>

                <div class="item__buy">
                    <label>Купить</label>
                    <input type="number" value="1" min="0" class="item__buy-input"/>
                    <span>шт.</span>
                </div>

                <div class="item__cart">
                    <i class="fa fa-shopping-cart"></i>
                    <span>В корзину</span>
                </div>
            </div>
        </div>
    </div>
</script>